@page "/fuel"

<h1>Explore. Expand. Exploit.</h1>

@foreach (var display in fuelDisplays)
{
    <FuelDisplay />
}

<button class="btn btn-primary" onclick="@Add">Add Bioburner</button>

@functions {
    List<FuelDisplay> fuelDisplays = new List<FuelDisplay>();

    void Add()
    {
        fuelDisplays.Add(new FuelDisplay());
    }
}